.argacdes{
  max-width: 1366px;
  width: 100%;
  margin:0 auto;
  border: 1px inset blue;
}
.ukanaponi{
  background-color:#5a698c;
}
.container-fluid{
  background-color:#7380a5;
 
}
.marcxena{
width:180px;
height:460px;
background-color:#5a698c;
margin-left:20px;
margin-top: 20px;
margin-bottom: 20px;
}
.marjvena{
width:190px;
height:460px;
background-color:#5a698c;
margin-right: 20px;
margin-top: 20px;
margin-bottom: 20px;

}

.headercolor{
  color:#1a1aff;
}
.header1{
  z-index: 100;

}

.honeyt{
 color:blue;


}
.text1{
  font-size: 20px;
  color:#99004d;
  transition: height:0.5s ease;
}

.text1:hover{
  color:red;
  margin-bottom: 10px;
}


.tbilisituri{
  width: 125px;
  height:68px;
}
.georgiaturi{
  width: 125px;
  height:68px;
}
.evropa{
  width: 125px;
  height:68px;
}
.cooking{
  width: 125px;
  height:68px;
}
.art{
  width: 125px;
  height:68px;
}
.paraplan{
  width: 125px;
  height:68px;
}
.ertoba{
  width: 125px;
  height:68px;
}
.comeback{
  width: 125px;
  height:68px;
}


.shua1{
    
  margin-top: 20px;
}
    

.spend{
  font-size: 28px;
  color:004080;
}
.ba{
  
  width:640px;
  height:440px;
  margin-top: 10px;
  margin-left:10px;
}



.shua-text:hover{

/* background-image:url("../img/smaile.jpg"); 
 width:700px;
 height:400px;*/

}

.imgtext1{
  position:relative;
  animation: tbilisituri1 5s infinite;
}

@keyframes tbilisituri1{

  from {left: 25px;}
  to {left: 35px;}

  }

.imgtext2{
  position:relative;
  animation: georgiaturi 5s infinite;
}

@keyframes georgiaturi{

  from {left: 45px;}
  to {left: 37px;}

  }
  .imgtext3{
  position:relative;
  animation: evropaa 5s infinite;
}

@keyframes evropaa{

   from {left: 25px;}
  to {left: 35px;}

  }
  .imgtext4{
  position:relative;
  animation: cooking1 5s infinite;
}

@keyframes cooking1{

  from {left: 45px;}
  to {left: 37px;}
  }
  .imgtext5{
  position:relative;
  animation: artt 5s infinite;
}

@keyframes artt{

  from {left: 25px;}
  to {left: 35px;}
  }
.imgtext6{
  position:relative;
  animation: paraplan 5s infinite;
}

@keyframes paraplan{

  from {left: 45px;}
  to {left: 37px;}
  }
.imgtext7{
  position:relative;
  animation: ertobaa 5s infinite;
}

@keyframes ertobaa{

  from {left: 25px;}
  to {left: 35px;}

  }
   .imgtext8{
  position:relative;
  animation: comeback 5s infinite;
}

@keyframes comeback{

  from {left: 45px;}
  to {left: 37px;}
  }

.gverdibolo1{

width:1800px;
height: 140px;
background-color:yellow;

}
.shuatext2{
  background-color:#ac3971;
  clip-path: polygon(5% 25%, 21% 2%, 53% 14%, 81% 0, 97% 13%, 98% 42%, 86% 66%, 72% 83%, 47% 100%, 48% 100%, 23% 78%, 12% 57%);
  text-align: center;
  margin-bottom: 0;
  height: 150px;
}
.about{
  width:1830px;
  height:400px;
  background-color: #a0a0c5;
  margin-left: 0;
}

.maingeorgia{
  width:1835px;
  height:600px;
  background-color:yellow;
  margin-left: 0;

}

.honey{
  width: 60px;
  height:35px;
}
.viber{
  width:30px;
  height:20px;
  margin-left: 270px;
  margin-top: 10px;
 
}
.viber555{

  color: #1a1aff;
  margin-top: 10px;
  margin-left: 8px;
}



.f{
  background-image:url("../img/poto1.jpeg");
  height:200px;
  width:200px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  display:inline-block;
}

 /*background-image:url("../img/cover.jpg");
  height:200px;
  width:200px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  display:inline-block;
*/

.meniumarjvena{
  margin-left: 300px;
}

.saxeli{
  border:2px;
}
.home1{
  margin-left: 600px;
}

.batumi{
  width:250px;
  height: 180px;
}
.welcome{
  margin-left:348px;
  color:#99004d;
}

.ull{
  background-color: #7380a5
}


.mtavari1{
  margin-left: 350px;
}
.logo7{
  width: 55px;
  height:40px;
  margin-left: 5px;
}

.gvari{
  margin-top: 1px;

}
.meniu2{
  margin-left:115px;
}












.ukanaponi2{
  background-color:#e0e0d2;
}


.tbilisi2{
  background-image:url("../img/tbilisi2.jpg");
  width:1260px;
  height:500px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  margin-left: 55px;
 }

  

.abouttbilisi2{
  width: 1260px;
  height: 150px;
  background-color:  #b8b894;
  margin-left: 55px;
  margin-top: 10px;
  border:1px solid  #5d5d3c;
  padding: 5px;
 
}

.tb2{
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 50px;
  color:#99004d;
}


.tb2{
  position:relative;
  animation: lovetbilisi 10s infinite;
}

@keyframes lovetbilisi{

  from {left: -400px;}
  to {left: -50px;}

  }

.abanotext1{
  margin-left: 615px;
  margin-top: 100px;
  margin-bottom:30px;
}

.tbabout2{
  width: 1200px;
  padding: 10px;

}

.stingi2{
  width:280px;
  height:430px;
  margin:7px;
  margin-top:15px;
}
.stingtext{
  width: 250px;
  margin:10px;
  margin-top:50px;
  padding: 10px;
}
.stingtext1{
  color: #99004d;
  margin-top: 10px;
  margin-left: 55px;

}
.abanotubani2{
  width:280px;
  height:160px;
  margin:8px;
  margin-top:15px;
  
}
.pushkini2{
  width:360px;
  height:230px;
  margin:8px;
  margin-left: 100px;
  font-size: 20px;
}
.pushkiniwrite{
margin-top: 260px;
}

.abanotubanitext{
  width: 280px;
  margin-top: 10px;
  padding: 10px;
 
  
}


.abanomarcxena{
  width: 350px;
  background-color:#a5a573;
  border:1px dashed #99004d;
  margin-left: 77px;
  
}
.abanomarjvena{
  width: 400px;
  background-color:#a5a573;
  border:1px dashed #99004d;
  margin-left: 77px;
}
  
.leksi1{
  height: 160px;
  background-color:   #c2c2a3;
  border:1px dashed #99004d;
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

.leksi11{
  margin-left: 540px;
  color:  #99004d;
}

.eklesiebi{
  background-color: #c2c2a3;
  width: 1350px;
  margin-left: 8px;

}
.sameba{
  width:310px;
  height:210px;

}
.sameba1{
  color:#661a00;
 
}
 .sameba11{
  color: #661a00;
  margin:12px;

}
.narikala1{
  color:#661a00;
  margin-left: 130px;

}
 .narikala11{
  color: #661a00;
  margin:12px;

}

.narikala{
  width:310px;
  height:210px;
  margin-left: 5px;
 
}
.metexi{
  width:310px;
  height:210px;
 
}


.metexi1{
  color: #661a00;
  margin-left: 130px;

}
 .metexi11{
  color: #661a00;
  margin:12px;

}

.sioni{
  width:310px;
  height:210px;
 
}

.sioni1{
  color:#661a00;
  margin-left: 130px;

}
 .sioni11{
  color: #661a00;
  margin:12px;

}
.museum{
  background-color: #c3b3a2;
  width: 1340px;
  height: 480px;
  margin-left: 12px;
  margin-top: 50px;
}

.trad{
  text-align: center;
  color: brown;
  margin-top: 20px;

}
.tanamedrove{
  width:400px;
  height: 250px;
  margin-left: 15px;

}
.tanamedrove1{
  color:#99004d;
  margin-left: 70px;

}
 .tanamedrove11{
  color: #99004d;
  margin:5px;
  margin-left: 15px;

}
.erovnuli{
  width:400px;
  height: 250px;
  margin-left: 15px;

}
.erovnuli1{
  color:#99004d;
  margin-left: 70px;

}
 .erovnuli11{
  color: #99004d;
  margin:5px;
  margin-left: 15px;

}
.etnograpiuli{
  width:400px;
  height: 250px;
  margin-left: 15px;

}
.etnograpiuli1{
  color:#99004d;
  margin-left: 70px;

}
 .etnograpiuli11{
  color: #99004d;
  margin:5px;
  margin-left: 15px;

}
.mtw22{
  width:630px;
  height:400px;
  margin-left:40px ;
  margin-top:10px ;
}
.mtw2222{
  width:630px;
  height:400px;
  margin-right: 32px;
  margin-top:10px ;


}
.leksi2{
  background-color: #c2c2a3;
  width: 660px;
  color:#661a00;
  margin-left: 400px;
  margin-top:50px;
  margin-bottom: 50px;
  font-size: 20px;
}
.mtawmindatex{
  background-color: #c2c2a3;
  margin-left: 30px;
  width: 1310px;
  
}
.mtawmindatext2{
  margin: 20px;
  margin-top: 40px;
}
.mtawmindatext22{
  margin: 20px;
}













.ukanaponi3{
  background-color:#eaeae1;

}


.sakartvelocarusel{
  width: 960px;
  height: 470px;
  margin-bottom: 50px;
  margin-left: 200px;
}
.saqartvelolamazo{
  text-align: center;
  color:green;
  margin-top: 30px;
  margin-bottom: 30px;
}

.xevsureti3{
  width: 960px;
  height: 470px;

}
.ushguli1{
  width: 960px;
  height: 470px;
  
}
.kanioni2{
  width: 960px;
  height: 470px;
  
}
.kaxeti{

  background-color: #d6d6c2;
 
 

}
.kaxettext{
  text-align: center;
  color: #99004d;
  margin-bottom:50px;
  margin-top: 30px;
  

}
.alaverdi{
  width: 310px;
  height: 210px;
  margin-left: 23px;
  border: 2px solid #1a6600
}
.ikalto{
  width: 310px;
  height: 210px;
  margin-left: 10px;
  border: 2px solid #1a6600
  

}
.nekresi{
  width: 310px;
  height: 210px;
  margin-left: 0.5px;
  border: 2px solid #1a6600
}
.kvarlistba{
  width: 310px;
  height: 210px;
  margin-left: 1px;
  border: 2px solid #1a6600
}

.lopota{
  width: 390px;
  height: 260px;
  border: 2px solid #1a6600
}

.lopota1{

margin-top: 115px;
margin-left: 75px;
padding: 2px;
}

.ambasadori{
  width: 390px;
  height: 260px;
  border: 2px solid #1a6600
}
.ambasadoritext{
  margin-left: 60px;
  margin-top: 115px;
  padding: 2px;
}

.lopotasat:hover{
  color: #800040;
}

.ambasadorsat:hover{
  color: #800040;
}



.kaxettext{
  color: #660033;
  margin-top: 2px;
  margin-right: 30px;
  
}

.kaxettext:hover{
  color: red;
}


.lopotasat{
  margin-left: 170px;
  margin-bottom: 50px;
}

.ambasadorsat{
   margin-left: 110px;
   margin-bottom: 50px;
}



.mcxetacont{
  background-color:#c2c2a3;
  width: 1240px;
  margin-left: 60px;
}

.mcxetaleksi{
  color:  #b30059;
  height: 160px;
  margin-top: 20px;
  text-align: center;
  background-color: #acac86;
  clip-path: polygon(20% 0%, 80% 0%, 95% 100%, 5% 100%);
}


.tadzaritext{
  color:#602060;
  text-align: center;
}

.tadzaritext:hover{
  color: red;
}
.mcxeta22{
  color:#602060;
  padding: 2px;
  
}

.sveticxoveli{
  width: 380px;
  height: 250px;
  border: 2px solid brown;
}
.jvrismonasteri{
  width: 380px;
  height: 250px;
  border: 2px solid #260099;
}
.dedatamonasteri{
  width: 380px;
  height: 250px;
  border: 2px solid #00661a;
}                                               

.turicont{
  text-align: center;
  color:#b3003b;
}


.piramida{
  width: 240px;
  height: 160px;
  border: 1px solid green;
}
.piramida:hover{
  width: 244px;
  height: 164px;
}
.piramidacont{
 background-color:  #acac86;
 border:1px solid red;

}
.tushetpir{
  margin-left: 28px;
}
.shovipir{
  margin-left: 30px;
}
.uddziropir{
  margin-left: 44px;
}
.mestiapir{
  margin-left: 30px;
}
.svanuripir{
  margin-left: 44px;
}
.ushhulipir{
  margin-left: 58px;
}
.stropi1{
 margin-left: 460px;
 margin-top: 40px;
 color: #99004d;
}
.stropi2{
 margin-left: 460px;
 margin-top: 40px;
 color: #99004d;
}
.stropi3{
 margin-left: 230px;
 margin-top: 40px;
 color: #99004d;

}

.piramidatext{
  color: #660033;
  margin-top: 5px;
  margin-left: 30px;
  text-align: center;
}

.piramidatext:hover{
  color: red;
}
.alaverditext{
  color: #660033;
   margin-left: 85px;
   margin-top: 5px;
}
.alaverditext:hover{
  color: red;
}

.kazbegi{
  width: 500px;
  height: 300px;
  margin: 20px;
}
.gelati{
  width: 500px;
  height: 300px;
  margin: 20px;
}



.samebaleft{
  background-color:#b8b894;
  margin-left: 60px;

}

.gelatiright{
  background-color:#b8b894;
  margin-left: 110px;

}

.samebatext{
  color: brown;
  margin-left: 210px;
  margin-top: 10px;
}

.gelatitext{
  color: brown;
  margin-left: 210px;
  margin-top: 10px;

}

.notend{
  color: brown;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 45px;
}
.borjomi{
  width:180px;
  height: 110px;
  margin-left: 40px;

  
}
.gomi{
  width:180px;
  height: 110px;
  margin-left: 120px;
  
}
.paragrapi1{
  width:180px;
  height: 110px;
  margin-left: 1px;
  
}
.batumi1{
  width:180px;
  height: 110px;
  margin-left: 80px;
  
}

.mtamarcxena{
  width:70px;
  height: 60px;
  margin-left: 200px;
  background-color: #999966;
  clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
  margin-top: 70px;
}

.bax{
  margin-left: 100px;
}
.bor{
  margin-left: 175px;
}
.she{
  margin-left: 50px;
}
.bat{
  margin-left: 120px;
}

.mtatext{
  margin-left: 50px;
  margin-top: 100px;
}

.zgvamarjvena{
  width:70px;
  height: 60px;
  background-color: #999966;
  clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
  margin-top: 70px;
  margin-left: 160px;
}

.turisti{
  width: 90px;
  height: 110px;
  margin-top: 40px;
  margin-left: 80px;
  position:relative;
  animation: marcxenaturisti 5s infinite;
  animation: marjvenaturisti 5s infinite;
}
.dasvenebasad{
  text-align: center;
  margin-top: 20px;
}


@keyframes marcxenaturisti{

  from {left: 10px;}
   to {left: 90px;}

  }


@keyframes marjvenaturisti{

  from {right:  10px;}
   to {right: 90px;}

  }















.tur1{
 
  text-align: center;
  padding-top: 5px;
  width: 140px;
  height: 100px;
  background-color: #cbcbb3;
  font-size: 14px;
  margin-top: 5px;
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);

}
.istoriuli1{

  background-image:url("../img/istoriuli2.jpg");
  width:1200px;
  height:640px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  border: 2px solid white;
  margin-left: 90px;

 }

.juta{

  background-image:url("../img/juta.jpg");
  width:1200px;
  height:640px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  margin-left: 1px;
  border: 2px solid blue;
  margin-left: 90px;

 }
 .zgvamze{

  background-image:url("../img/zgvamze.jpg");
  width:1200px;
  height:640px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:top;
  margin-left: 90px;
  border: 2px solid blue;


 }



.istoriatext{
  text-align: center;
}

.bunebatext{
  text-align: center;
}

.sazgvaotext{
  text-align: center;
}


.zomaday{
  width:90px;
  height: 35px;
}


.dge1{

  margin-top: 30px;

}
.dge2{
  margin-top: 100px;
  
  
}
.dge3{
  margin-top: 170px;
  
}
.dge4{
  margin-top: 240px;
  
}
.dge5{
  margin-top: 310px;
  
}
.dge6{
  margin-top: 380px;
  
}
.dge7{
  margin-top: 450px;
  
}


















.ukanaponi5{
  background-color: #ad8d85;
}


.davluri5{
  width: 550px;
  height: 300px;

}

.danceleksi{
  margin-left: 200px;
}

.dancelovetext{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}


.aboutdance{
  text-align: center;
  margin-bottom: 30px;
  background-color:#6b4f47; 
  padding: 5px;

  
}
.dancecont{
  background-image:url("../img/dancecont8.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:top;
  border: 2px solid brown;

 }

.dancebox{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 220px;
  height: 135px;
  border:1px solid black;
}


.davluri{
  margin-left: 5px;
  position:relative;
  animation:davlurii 10s infinite;
  
}

@keyframes davlurii{

   from {left: 5px;}
   to {left: 550px;}

  }

.khorumi{
  margin-left: 1000px;
  position:relative;
  animation:khorumii 10s infinite;
  
}

@keyframes khorumii{

   from {right: 5px;}
   to {right: 446px;}

  }

.acharuli{
  margin-left: 5px;
  position:relative;
  animation:acharulii 10s infinite;
  
}

@keyframes acharulii{

   from {left: 5px;}
   to {left: 550px;}


  }

.osuri{
  margin-left: 1000px;
  position:relative;
  animation:osurii 10s infinite;
  
}

@keyframes osurii{

   from {right: 5px;}
   to {right: 446px;}

  }
.mtiuluri{
  margin-left: 5px;
  position:relative;
  animation:mtiulurii 10s infinite;
  
}

@keyframes mtiulurii{

   from {left: 5px;}
   to {left: 550px;}


  }



.davluriscont{
 
  background-color: yellow;
  width: 200px;
  height: 140px;

}


.cekvebi{
  width: 1300px;
  background-color: red;

}
.cekvebisagwera{
  
}

.qartulicalke{
  background-color: #6b4f47;
  width: 1260px;
  margin-left: 100px;

}
.xorumicalke{
  background-color:  #6b4f47;
  width: 1260px;
  margin-left: 2px;
}
.acharulicalke{
  background-color:  #6b4f47;
  width: 1260px;
  margin-left: 100px;
}
.osuricalke{
  background-color:    #6b4f47;
  width: 1260px;
  margin-left: 2px;
}
.mtiuluricalke{
  background-color:     #6b4f47;
  width: 1260px;
  margin-left: 100px;
}

.pridona1{
  width: 300px;
  height: 210px;
  padding-top:8px;
  padding-bottom: 8px;
  
  margin-left: 1px;
}

.davluri4{
  width: 300px;
  height: 210px;
  padding: 10px;
  margin-right: 5px;
}
.qartulidancetext{
  margin-left: 10px;
}
.xorumi2{
  width: 300px;
  height: 210px;
  padding-top:10px;
  
}
.xorumi3{
  width: 300px;
  height: 210px;
  padding: 8px;
  padding-top: 12px;
}
.acharuli1{
  width: 300px;
  height: 210px;
  padding-top:8px;
  padding-bottom: 8px;
}

.acharuli2{
  width: 300px;
  height: 210px;
  padding: 8px;

}

.osuri2{
  width: 300px;
  height: 210px;
  padding-top:8px;
  padding-bottom: 8px;
}
.osuri3{
  width: 300px;
  height: 210px;
  padding: 8px;
}
.mtiuluri2{
  width: 300px;
  height: 210px;
  padding-top:8px;
  padding-bottom: 8px;
}

.mtiuluri3{
  width: 300px;
  height: 210px;
  padding: 8px;
}

.rachuli{
  width: 200px;
  height: 160px;
}
.kinto{
  width: 200px;
  height: 160px;
}

.xanjluri{
  width: 200px;
  height: 160px;
}
.parikaoba{
  width: 200px;
  height: 160px;
}
