.argacdes{
  max-width: 1366px;
  width: 100%;
  margin:0 auto;
  border: 1px inset blue;
}
.ukanaponi{
  background-color:#5a698c;
}
.container-fluid{
  background-color:#7380a5;
 
}
.marcxena{
width:220px;
height:540px;
background-color:#5a698c;
margin-left:20px;
margin-top: 20px;
margin-bottom: 20px;
}
.marjvena{
width:220px;
height:540px;
background-color:#5a698c;
margin-right: 20px;
margin-top: 20px;
margin-bottom: 20px;

}

.text1{
  font-size: 20px;
  color:#004080;
  transition: height:0.5s ease;
}

.text1:hover{
  color:red;
  margin-bottom: 10px;
}


.tbilisituri{
  width: 140px;
  height:85px;
}
.georgiaturi{
  width: 140px;
  height:85px;
}
.evropa{
  width: 140px;
  height:85px;
}
.cooking{
  width: 140px;
  height:85px;
}
.art{
  width: 140px;
  height:85px;
}
.paraplan{
  width: 140px;
  height:85px;
}
.ertoba{
  width: 140px;
  height:85px;
}
.comeback{
  width: 140px;
  height:85px;
}


.shua1{
    
  margin-top: 20px;
}
    
}
.spend{
  font-size: 28px;
  color:004080;
}
.ba{
  
  width:740px;
  height:440px;
  margin-top: 30px;
  margin-left:10px;
}



.shua-text:hover{

/* background-image:url("../img/smaile.jpg"); 
 width:700px;
 height:400px;*/

}

.imgtext1{
  position:relative;
  animation: tbilisituri1 5s infinite;
}

@keyframes tbilisituri1{

  from {left: 25px;}
  to {left: 35px;}

  }

.imgtext2{
  position:relative;
  animation: georgiaturi 5s infinite;
}

@keyframes georgiaturi{

  from {left: 45px;}
  to {left: 37px;}

  }
  .imgtext3{
  position:relative;
  animation: evropaa 5s infinite;
}

@keyframes evropaa{

   from {left: 25px;}
  to {left: 35px;}

  }
  .imgtext4{
  position:relative;
  animation: cooking1 5s infinite;
}

@keyframes cooking1{

  from {left: 45px;}
  to {left: 37px;}
  }
  .imgtext5{
  position:relative;
  animation: artt 5s infinite;
}

@keyframes artt{

    from {left: 25px;}
    to {left: 35px;}
  }
  .imgtext6{
  position:relative;
  animation: paraplan 5s infinite;
}

@keyframes paraplan{

  from {left: 45px;}
  to {left: 37px;}
  }
   .imgtext7{
  position:relative;
  animation: ertobaa 5s infinite;
}

@keyframes ertobaa{

    from {left: 25px;}
    to {left: 35px;}

  }
   .imgtext8{
  position:relative;
  animation: comeback 5s infinite;
}

@keyframes comeback{

  from {left: 45px;}
  to {left: 37px;}
  }

.gverdibolo1{

width:1800px;
height: 140px;
background-color:yellow;

}
.shuatext2{
  background-color:#ac3971;
  clip-path: polygon(5% 25%, 21% 2%, 53% 14%, 81% 0, 97% 13%, 98% 42%, 86% 66%, 72% 83%, 47% 100%, 48% 100%, 23% 78%, 12% 57%);
  text-align: center;
  margin-bottom: 0;
  height: 150px;
}
 


.about{
  width:1830px;
  height:400px;
  background-color: #a0a0c5;
  margin-left: 0;
}

.maingeorgia{
  width:1835px;
  height:600px;
  background-color:yellow;
  margin-left: 0;

}

s
.honey{
  width: 60px;
  height:35px;
}



.viber{
  width:30px;
  height:20px;
  margin-left: 270px;
  margin-top: 10px;
 
}
.viber555{

  color: #1e1e7b;
  margin-top: 10px;
  margin-left: 8px;


}



.f{
  background-image:url("../img/poto1.jpeg");
  height:200px;
  width:200px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  display:inline-block;
}

 /*background-image:url("../img/cover.jpg");
  height:200px;
  width:200px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  display:inline-block;
*/

.meniumarjvena{
  margin-left: 300px;
}


.saxeli{
  border:2px;
}
.home1{
  margin-left: 600px;
}


.batumi{
  width:250px;
  height: 180px;
}
.welcome{
  margin-left:348px;
  color:#99004d;
}


.ull{
  background-color: #7380a5
}


.mtavari1{
  margin-left: 350px;
}
.logo7{
  width: 55px;
  height:40px;
  margin-left: 5px;


}
/*.logo7:hover{
  width:100px;
  height: 100px;
}*/




.gvari{
  margin-top: 1px;

}


.meniu2{
  margin-left:115px;
}
